body{ 
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color: #000000;
}

div{ 
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

html{ 
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}