body{ 
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    background-color: #000000;
}

div{ 
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

html{ 
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

a:link, a:visited, a:active { 
    text-decoration: none;
    font-weight: bold;
    font-size: 95%;
    color: #FFFFFF;
    outline: none;
}

a:hover {
    text-decoration: none;
    font-weight: bold;
    font-size: 95%;
    color: #DDDDDD;
}
